.layout-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;

 
}
.button{
    align-items: center;
    padding: 80px,40px;
    text-align: center;
    margin: 40px;
}
.carcontainer{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin: 20px;

 
}
