.search-panel{
    padding-left: 173px;
    padding-right: 173px;

    border-bottom: 0.2px solid rgba($color: #000000, $alpha: 0.18);
    border-top: 0.2px solid rgba($color: #000000, $alpha: 0.18);

    height: auto;

    background-color: white;

    .radio-buttons-search{
        text-align: center;
            .ant-radio-button-wrapper{
                font-size: 36px;
                font-weight: 500;
                line-height: 49px;
                height: auto;
                text-align: center;
        
        
                border-radius: 0;
                border: 2px solid $primary;
        
                padding: 20px 120px;
                text-align: center;
                vertical-align: middle;
        
                border-collapse: collapse;
        
                margin-left: -2px;
                margin-top: -44px;
        
                &:first-child {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                &:last-child{
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
        
            }
            .ant-radio-button-wrapper-checked{
                background-color: $primary;
                span{
                    color: white
                }
            }
    }

    .inputs-group{
        .first-line{
            display: flex;
            justify-content: space-between;
            margin-top: 41px;

            .search-input-container{
                width: 450px;
                
                .ant-row{
                    width: 100%;
                    margin-bottom: 0;
                    .ant-select-disabled{
                        .ant-select-selector{
                            background-color: rgba(65, 65, 65, 0.08);
                        }
                    }
                    .ant-select-selector{
                        background-color: rgba(65, 65, 65, 0.02);
                        border-radius: 10px;
                        height: auto;
                        padding: 10px 30px;
                        
                        line-height: 43px;
                        font-size: 32px;
                    }
                }
            }
        }
        .second-line{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .from-to-container{
                border-radius: 10px;
                background-color: rgba(65, 65, 65, 0.02);
                
                display: flex;
                justify-content: space-around;
                width: 48%;
                border: 1px solid #d9d9d9;
                padding: 20px 30px;
                .ant-row{
                    width: 35%;
                    margin-bottom: 0;

                    input{
                        font-size: 32px;
                        border-radius: 10px;
                        padding: 2px 10px;
                        text-align: center;
                        width: 100%;
                    }
                }
                .ant-row{
                    width: 35%;
                    .from-to-select{
                        font-size: 32px;
                        padding: 2px 10px;
                        text-align: center;
                        width: 100%;
                        .ant-select-selector{
                            border-radius: 10px;
                            height: 100%;
                        }
                        .ant-select-arrow {
                            .anticon{
                                svg{
                                    width: 20px;
                                    margin-top: -5px;
                                    margin-left: -30px;
                                }
                            }
                        }
                    }
                }
            }
            span{
                margin-top: 4px;
                font-size: 32px;
                font-weight: 500;
                line-height: 43px;
            }
        }
        .third-line{
            margin-top: 30px;
            width: 100%;
            svg{
                margin-right: 23px;
            }
            button{
                background-color: $primary;
                width: 100%;
                border-radius: 10px;

                font-size: 36px;
                color: white;
                line-height: 50px;
                padding: 10px;
                height: auto;

                &:disabled{
                    background-color: rgba($color: $primary, $alpha: 0.5);
                }
            }
        }
        .fourth-line {
            text-align: center;
            margin-top: 37px;
            margin-bottom: 29px;

            font-size: 24px;
            text-decoration: underline;
            font-weight: 400;
        }
    }
    
}