.menu-container {
    padding: 20px 145px;
    height: 139px;
    background-color: #eaf1f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .left-menu-side {
        width: 50%;
    }

    .right-menu-side {
        ul {
            list-style-type: none;
            display: inline-block;
    
        }
    
        ul li {
            float: left;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #219CE1;
            padding: 5px 20px;
            margin-right: 40px;
    
            &:hover {
                background: #FFFFFF;
                border-radius: 6px;
            }
        }
    }

    


}