.menu-container {
    padding: 20px 145px;
    height: 139px;
    background-color: #eaf1f4;
    display: flex;
    align-items: center;

    .right-menu-side {
        display: flex;
        float: right;
    }

    ul {
        list-style-type: none;
        display: inline-block;

    }

    ul li {
        float: left;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #219CE1;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 60px;

        // &:active {
        //     display: flex;
        //     flex-direction: row;
        //     align-items: flex-start;
        //     padding: 5px 20px;

        //     background: #FFFFFF;
        //     border-radius: 6px;
        // }
    }

    li :active {
        display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 5px 20px;

            background: #FFFFFF;
            border-radius: 6px;
    }


}