.menu-container {
    padding: 20px 145px;
    height: 139px;
    background-color: #eaf1f4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-menu-side {
        width: 50%;
        .user-name-text {
            margin-left: 20px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            color: $primary;
        }
    }

    

    .right-menu-side {
        ul {
            list-style-type: none;
            display: inline-block;
        }

        ul li {
            float: left;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: $primary;
            padding: 5px 20px;
            margin-right: 40px;

            &:hover {
                background: white;
                border-radius: 6px;
            }

            &:active {
                background: white;
                border-radius: 6px;
            }
        }
    }
}