.steps-container {
    display: flex;
    flex-direction: column;
    height: 87.3%;
    justify-content: flex-start;
    background-color: $accent-light;
}

.steps-header {
    display: flex;  
    height: 14%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.steps-title-container {
    display: flex;
    flex-direction: column;
}

.steps-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.steps-description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.steps-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    margin: 0;
}

.steps-action-button-done {
    width: 4.5vw;
    height: 4vh;
    border-radius: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: $accent-light;
    background-color: $primary;

    &:hover {
        color: $accent-light;
        background-color: $primary;
    }

    &:active {
        color: $accent-light;
        background-color: $primary;
    }

    &:focus {
        color: $accent-light;
        background-color: $primary;
    }
}

.steps-action-button-back {
    width: 4.5vw;
    height: 4vh;
    border-radius: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: $accent-light;
    background-color: rgba($accent-dark, 0.2);
    border: 0;

    &:hover {
        color: $accent-light;
        background-color: rgba($accent-dark, 0.3);
    }

    &:active {
        color: $accent-light;
        background-color: rgba($accent-dark, 0.3);
    }

    &:focus {
        color: $accent-light;
        background-color: rgba($accent-dark, 0.3);
    }
}

.steps-body {
    display: flex;
    flex-direction: column;
    height: 92%;
    overflow: scroll;
    padding-left: 147px;
    padding-right: 147px;
    padding-bottom: 2vh;
}

.steps-footer {
    display: flex;
    flex-direction: row;
    //position: fixed;
    //bottom: 0;
    height: 14%;     

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    width: 100%;

    background-color: white;

    z-index: 3;
}

.steps-footer-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($primary, 0.4);
    background-color: rgba($primary, 0.2);
    width: 33.3%;
}

.steps-footer-block-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    background-color: $primary;
    color: $accent-light;
}

.radiogroup-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    margin-bottom: 2vh;

    background: #FFFFFF;
}

.radiogroup-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 1vh;
}

.radiogroup-button {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    background: rgba($accent-dark, 0.1);
    border: 0 !important;
    color: rgba(0, 0, 0, 0.5);

    border-radius: 5px !important;

    margin: 1vh;

    &::before {
        background-color: none;
        border: none;
    }
}

.radiogroup-container .ant-radio-button-wrapper-checked {
    background-color: $primary;
    color: $accent-light;
}

.ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

.ant-radio-button-wrapper:first-child {
    border-radius: 5px;
}

.ant-radio-button-wrapper:last-child {
    border-radius: 5px;
}

.steps-radio-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.steps-secondstep-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
}

.imageSelector-card-container {
    width: 21vw;
    height: 23.5vh;
    border-radius: 5px;
    overflow: hidden;
}

.imageCard-img {
    width: 21vw;
    height: 23.5vh;
    // object-fit: fill;
    object-fit: cover;
}


.imageSelector-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4.1vh;
    grid-row-gap: 1vw;
    height: 100%;
}

.steps-secondstep-description-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}

.imageSelector-input-container {
    display: flex;
    width: 21vw;
    height: 23.5vh;
    border: 1px dashed rgba($primary, 0.5);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.imageSelector-dragger-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed rgba($primary, 0.5);
    border-radius: 10px;
}

.imageSelector-upload-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;

    color: $primary;
}

.imageSelector-input {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.steps-selects-container {
    display: flex;
    flex-direction: row;   
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-top: 2vh;
    justify-content: space-between;
}

.steps-select-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.steps-input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.steps-input {
    border-radius: 10px;
}

.steps-datepicker {
    border-radius: 10px;
    //font-size: 24px;
}

.steps-select {
    border-radius: 10px;
    //font-size: 24px;
}

.steps-select-container .ant-select .ant-select-selector {
    border-radius: 10px;
}

.steps-textarea {
    border-radius: 10px;
}

.steps-map-container {
    margin-top: 1vh;
    height: 100%;
    width: 100%;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.steps-map-input {
    z-index: 3;
    position: relative;
    top: 5vh;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 1vw;
    color: $accent-dark;
    background-color: $accent-light; 
}

.steps-wrapper {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}

.color-picker-container {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 2vh;
}

.color-picker {
    display: flex;
    flex-direction: row;   
    width: 29.5vw;
        .github-picker{
            flex-grow: 3;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5) !important; 
            box-shadow: none !important;
            border: 1px solid #d9d9d9 !important;
            border-radius: 10px !important; 
            span{
                width: 55px;
                height: 55px;
                margin: 15px 7px;
                div{
                    width: 100% !important;
                    height: 100% !important;
                    div{
                        border-radius: 10px;
                        border: 1px solid rgba($color: #000000, $alpha: 0.2)
                    }
                }
            }
        }
}

.steps-price-container {
    margin-top: 2vh;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    padding: 20px 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);

    .steps-price {
        display: flex;
        flex-direction: row;

        Input {
            text-align: center;
            width: 15vw;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            margin-left: 1.5vw;
            margin-right: 0.5vw;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
        }  

    }
}

.steps-checkbox-container {


    .checkbox-group {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        .ant-checkbox-wrapper{
            display: flex;
            align-items: center;
            .title{
                font-size: 24px;
                font-weight: 500;
            }
            .ant-checkbox-inner{
                border-radius: 10px;
                width: 45px;
                height: 45px;
                &::after{
                    display: none;
                }
            }
        }
    }
}

