* {
    box-sizing: border-box;
    // font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-family: 'Manrope';
    // margin: 0;
    // padding: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  
  #root {
    height: 100%;
    overflow-x: hidden;
  }