.trend-car-card{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    margin-right: 0 !important;
    img{
        width: 100%;
        // max-height: 350px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .info-block{
        padding: 0 20px;
        .trend-title{
            font-size: 48px;
            font-weight: 700;
            color: #414141; 
            display: block;
            margin-top: 10px;
            margin-bottom: 14px;
            line-height: 50px;
        }
        .trend-location{
            font-size: 24px;
            color: rgba($color: #414141, $alpha: 0.5);
            line-height: 20px;
        }
        .trend-tags-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 8px;
            margin-bottom: 25px;
            .trend-tag{
                 font-size: 24px;
                 color: #219CE1;
                 padding: 4px 25px;
                 background-color: rgba($color: #219CE1, $alpha: 0.2);
                 border-radius: 10px;

                 &:hover{
                    background-color: rgba($color: #219CE1, $alpha: 1);
                    color: white;
                 }
            }
        }
    }
    hr{
        margin: 0;
    }
    .action-block{
        padding: 13px 20px 23px 20px;

        .price-container{
            .trend-price{
                font-size: 40px;
                font-weight: 600;
                color: #219CE1;
                line-height: 40px;
            }
        }
        .buttons-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 14px;
            margin-bottom: 0;
            column-gap: 15px;

            .write-btn{
                width: 100%;
                font-size: 32px;
                color: white;
                background-color: rgba($color: #E06738, $alpha: 0.6);
                padding: 7px 59px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #E06738, $alpha: 1);
                }
            }
            .call-btn{
                background-color: rgba($color: #E06738, $alpha: 0.2);
                border-radius: 10px;
                border: none;
                cursor: pointer;
                padding: 13px 35px;

                &:hover{
                    background-color: rgba($color: #E06738, $alpha: 1);
                }
            }
        }

    }

}
.trend-block{
    background-color: rgba($color: #E06738, $alpha: 0.1);
        padding: 20px 154px;
        padding-bottom: 40px;
        // margin-top: 30px;
        margin-bottom: 30px;
        h2{
            color: #414141;
            font-size: 48px;
            font-weight: 600;
            line-height: 65px;
        }
    
        .cars-cards{
            display: flex;
            justify-content: space-between;
            
        }
}

.main-car-card-loader {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    margin-right: 0 !important;

    .car-card-img-loader{
        height: 39.5vh;
        width: 100%;
        // max-height: 350px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .car-card-info-loader {
        padding: 32px 19px 25px;
        width: 100%;
        height: 21.5vh;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .car-card-line-loader {
        height: 4vh;
        width: 24vw;
        background-color: #D9D9D9;
    }

    .car-card-small-line-loader {
        margin-top: 16px;
        height: 4vh;
        width: 6.8vw;
        background-color: #D9D9D9;
    }

    .car-card-tags {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        margin-bottom: 34px;

        .car-card-tag-small {
            background: rgba(33, 156, 225, 0.2);
            border-radius: 10px;
            width: 108px;
            height: 41px;
        }

        .car-card-tag {
            background: rgba(33, 156, 225, 0.2);
            border-radius: 10px;
            width: 162px;
            height: 41px;
            margin-left: 23px;
        }
    }

    .car-card-contacts-loader {
        padding: 32px 19px 25px;
        width: 100%;

        .car-card-line-loader {
            height: 4vh;
            width: 24vw;
            background-color: rgba(33, 156, 225, 0.2);
        }
        
        .buttons-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 14px;
            margin-bottom: 0;
            column-gap: 15px;

            .write-btn{
                width: 100%;
                font-size: 32px;
                color: white;
                background-color: rgba($color: #E06738, $alpha: 0.6);
                padding: 7px 59px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #E06738, $alpha: 1);
                }
            }
            .call-btn{
                background-color: rgba($color: #E06738, $alpha: 0.2);
                border-radius: 10px;
                border: none;
                cursor: pointer;
                padding: 13px 35px;

                &:hover{
                    background-color: rgba($color: #E06738, $alpha: 1);
                }
            }
        }
    }
}